<!DOCTYPE html>


<html>
<head>

    <title> User Story Manager</title>

    <!-- Bootstrap -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="http://bootswatch.com/cerulean/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

</head>

	<body>
        <div class='container'>
        <link rel="stylesheet" type="text/css" href="static/padding.css">

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <a class="header_link" href="{{url_for('story_page')}}">New User Story</a>
            </div>
        </nav>

        <h1> User Story Manager - List of Stories</h1>
        <br>
            <table class="table">
                <tr>
                    <th id="story">Story Title</th>
                    <th id="user">User Story</th>
                    <th id="crit">Acceptance Criteria</th>
                    <th id="value">Business Value</th>
                    <th id="estim">Estimated Time</th>
                    <th id="status">Status</th>
                    <th id="update">Update</th>
                    <th id="delete">Delete</th>
                </tr>
                {% for story in userstories %}  <!-- jinja magik-->
                <tr>
                <td headers="story">{{story.story_title}}</td>
                <td headers="user">{{story.user_story}}</td>
                <td headers="crit">{{story.criteria}}</td>
                <td headers="value">{{story.b_value}}</td>
                <td headers="estim">{{story.estimation}}</td>
                <td headers="status">{{story.status}}</td>
                <td headers="update"><a href="{{url_for('update_story', story_id=story.id)}}">Update</a></td>
                <td headers="delete"><a href="{{url_for('delete_story', story_id=story.id)}}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
    </div>
	</body>
</html
